/*Global Styles*/
button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: inherit;
}

/*Daangn Styles*/

.location{
    color: #000;
    /* 18 */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}

.post-header {
    position : relative;
}

.post-header header{
    width:100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
}

.post-header .location__drop{
    display: flex;
    align-items: center;
    gap: 6px;
}

.post-header .post-header__icon-container{
    display: flex;
    gap:16px;
    align-items: center;
}

