body {
  background-color: #f5f5f5;
  padding: 30px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  /* display: flex; */
  /* justify-content: space-between; */
  display: grid;
  grid-template-columns: 150px 20px auto;
  align-items: center;
  gap: 10px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

li button {
  background-color: #f44336;
  border: none;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

li button:hover {
  background-color: #d32f2f;
}

li img {
  background-image: url(edit.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  color: none;
  cursor: pointer;
  margin-left: 10px;
}
