// global
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.rowSet {
  display: flex;
  flex-direction: row;
  align-items: center;
}
// header
.contents {
  width: 100%;
  height: 100%;
}

.headerSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 12px 16px;

  border-bottom: 1px solid #d9d9d9;
}

.locationBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;

  height: 52px;

  &__text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: bolder;
  }
}

.utilBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  &__icon {
    width: 24px;
    height: 24px;
  }
}

// content
.contentSection {
  padding-left: 16px;
  padding-right: 16px;
}

.itemBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;

  width: 100%;
  height: 142px;

  padding-top: 16px;
  padding-bottom: 16px;

  border-bottom: 1px solid #d9d9d9;
}

.imageArea {
  width: 30%;
  height: 100%;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 4px;
  }
}

.contentArea {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    &__title {
      font-weight: bolder;
    }
    &__location {
      color: #8c8c8c;
    }
    &__price {
      font-weight: bolder;
      color: #ff7e36;
    }
  }

  &__reaction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 4px;
  }
}
