.bar {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 19px 24px;

  border-radius: 16px 16px;
  box-shadow: 0px -8px 16px 0px #0000001a;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  &__priceArea {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__label {
      font-weight: 400;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0px;
    }

    &__value {
      font-weight: 600;
      font-size: 17px;
      line-height: 100%;
      letter-spacing: 0px;
    }
  }
  &__textArea {
  }
}
