.button {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #3182f6;
  color: white;
  cursor: pointer;
}

.small {
  width: 52px;
  height: 32px;
  border-radius: 8px;
  border-style: none;

  padding-top: 8px;
  padding-bottom: 8px;
}

.medium {
  width: 84px;
  height: 38px;
  border-radius: 8px;
  border-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.large {
  width: 350px;
  height: 56px;
  border-radius: 16px;
  border-style: none;

  padding-top: 19px;
  padding-bottom: 19px;
}
