.store-menu-card{
    display: flex;
    flex-direction: row;
    width: 390px;
    height: 110px;
    padding: 16px 24px 17px;
    box-sizing:border-box;
}
.store-menu-image {
    width: 54px; height: 54px;
    position: relative; background: #ECECEC;
    border-radius: 100%;
    margin-right: 17px;
    margin-bottom: 29px;
}
.store-menu-info{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.store-menu-name{
    color: #333D4B;
    font-size: 17px;
    font-family: Pretendard;
    font-weight: 600;
    word-wrap: break-word
}
.store-menu-isBest{
    color: #3182F6;
    font-size: 17px;
    font-family: Pretendard;
    font-weight: 600;
    word-wrap: break-word;
    margin-left:6px;
}
.store-menu-price{
    color: #6B7684;
    font-size: 13px;
    font-family: Pretendard;
    font-weight: 500;
    word-wrap: break-word
}
.store-menu-ingred{
    color: #6B7684;
    font-size: 13px;
    font-family: Pretendard;
    font-weight: 500;
    word-wrap: break-word
}
.add-to-cart{
    width: 52px;
    height: 32px;
    display: inline-flex;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    background: #3182F6;
    color: #fff;

    font-size: 13px;
    font-family: Pretendard;
    font-weight: 500;
    word-wrap: break-word
}